<div class="s-home-header">
    <div class="s-home-header__menu">
        <a href="#" class="s-home-header__menu_item">outsource</a>
        <a href="#" class="s-home-header__menu_item">systems</a>
    </div>

    <div class="s-home-header__menu_mobile">
        <div class="switchBtn">
            <div class="switcher"></div>
        </div>
        <div class="s-home-header__menu_items-mobile">
            <a href="#" class="s-home-header__menu_item-mobile">outsource</a>
            <a href="#" class="s-home-header__menu_item-mobile">systems</a>    
        </div>
    </div>
</div>