<div class="s-home-content">
    <div class="s-home-content__intro">

        <div class="card-wrapper s-home-content__card-scale">
            <div class="s-home-content__card card-parallax">
                <a href="#" class="s-home-content__card_link">
                    <div class="s-home-content__card_inner">
                        <div class="s-home-content__card_title">Using Apparat 
            Quiz Examples Using Apparat 
            Quiz Examples</div>
                        <div class="s-home-content__card__card_icon-container">
                            <img src="/static/img/content/octagon.svg" class="s-home-content__card__card_icon">
                        </div>
                        <div class="s-home-content__card_category">Research</div>
                        <div class="s-home-content__card_date">SEP 14, 2017</div>
                    </div>
                </a>
            </div>
        </div>
       
        <div class="card-wrapper s-home-content__card-scale">
            <div class="s-home-content__card card-parallax">
                <a href="#" class="s-home-content__card_link">
                    <div class="s-home-content__card_inner">
                        <div class="s-home-content__card_title">Using Apparat 
            Quiz Examples</div>
                        <div class="s-home-content__card__card_icon-container">
                            <img src="/static/img/content/octagon.svg" class="s-home-content__card__card_icon">
                        </div>
                        <div class="s-home-content__card_category">Research</div>
                        <div class="s-home-content__card_date">SEP 14, 2017</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="card-wrapper s-home-content__card-scale">
            <div class="s-home-content__card card-parallax">
                <a href="#" class="s-home-content__card_link">
                    <div class="s-home-content__card_inner">
                        <div class="s-home-content__card_title">Using Apparat 
            Quiz Examples</div>
                        <div class="s-home-content__card__card_icon-container">
                            <img src="/static/img/content/octagon.svg" class="s-home-content__card__card_icon">
                        </div>
                        <div class="s-home-content__card_category">Research</div>
                        <div class="s-home-content__card_date">SEP 14, 2017</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="card-wrapper s-home-content__card-scale">
            <div class="s-home-content__card card-parallax">
                <a href="#" class="s-home-content__card_link">
                    <div class="s-home-content__card_inner">
                        <div class="s-home-content__card_title">Using Apparat 
            Quiz Examples</div>
                        <div class="s-home-content__card__card_icon-container">
                            <img src="/static/img/content/octagon.svg" class="s-home-content__card__card_icon">
                        </div>
                        <div class="s-home-content__card_category">Research</div>
                        <div class="s-home-content__card_date">SEP 14, 2017</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="card-wrapper s-home-content__card-scale">
            <div class="s-home-content__card card-parallax">
                <a href="#" class="s-home-content__card_link">
                    <div class="s-home-content__card_inner">
                        <div class="s-home-content__card_title">Using Apparat 
            Quiz Examples</div>
                        <div class="s-home-content__card__card_icon-container">
                            <img src="/static/img/content/octagon.svg" class="s-home-content__card__card_icon">
                        </div>
                        <div class="s-home-content__card_category">Research</div>
                        <div class="s-home-content__card_date">SEP 14, 2017</div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>